@model University.DAL.Models.User
@{
    ViewData["title"] = "Create";
}

<form asp-action="Create">
    <div>
        <label asp-for="UserEmail">UserEmail</label>
        <input asp-for="UserEmail" />
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
