@model University.DAL.Models.User
@{
    ViewData["title"] = "Delete User";
}

<div>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.UserEmail)</dt>
        <dd>@Html.DisplayFor(model => model.UserEmail)</dd>
        <dt>@Html.DisplayNameFor(model => model.Password)</dt>
        <dd>@Html.DisplayFor(model => model.Password)</dd>
    </dl>
    <form asp-action="Delete">
        <input type="submit" value="Delete" />
    </form>
</div>