@model University.DAL.Models.User
@{
    ViewData["title"] = "Edit User";
}

<form asp-action="Edit">
    <div>
        <label asp-for="UserEmail">User Email</label>
        <input asp-for="UserEmail" />
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" />
    </div>
    <div>
        <label asp-for="UserType">UserEmail</label>
        <select asp-for="UserType">
            <option value="">--select--</option>
            <option value="Student">Student</option>
            <option value="Employee">Employee</option>
            <option value="LibraryOperator">Library operator</option>
            <option value="Admin">Admin</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Confirm" />
    </div>
</form>