@{
    ViewData["title"] = $"{ViewBag.department}";
}
<div>
    <a href="@Url.Action("ShowTeacher","xDepartment",new{departmentCode=ViewBag.deptId})" class="btn btn-info">
        Teachers
    </a>
</div>
<div>
    <a href="@Url.Action("ShowCourse","xDepartment",new{departmentCode=ViewBag.deptId})" class="btn btn-success">
        Courses
    </a>
</div>
<div>
    <a href="@Url.Action("ShowStudent","xDepartment",new{departmentCode=ViewBag.deptId})" class="btn btn-info">
        Students
    </a>
</div>