@model University.DAL.Models.Role
@{
    ViewData["title"] = "Edit";
}

<form asp-action="Edit">
    <div>
        <label asp-for="RoleName">Role Name</label>
        <input asp-for="RoleName" />
    </div>
    <div>
        <input type="submit" value="Confirm" />
    </div>
</form>