@model University.DAL.Models.Book

@{
    ViewData["title"] = "Delete";
}

<div>
    <dl>
        <dt>Book Name</dt>
        <dd>@Html.DisplayFor(model=>model.Name)</dd>
        <dt>Writer</dt>
        <dd>@Html.DisplayFor(model=>model.Writer)</dd>
        <dt>Publication</dt>
        <dd>@Html.DisplayFor(model=>model.Publication)</dd>
        <dt>Description</dt>
        <dd>@Html.DisplayFor(model=>model.Description)</dd>
    </dl>
    <form asp-action="Delete">
        <input type="submit" value="Confirm"/>
    </form>
</div>
