@model University.DAL.Models.Book
@{
    ViewData["title"] = "Details";
}

<dl>
    <dt>Book Name</dt>
    <dd>@Html.DisplayFor(model=>model.Name)</dd>
    <dt>Writer</dt>
    <dd>@Html.DisplayFor(model => model.Writer)</dd>
    <dt>Publication</dt>
    <dd>@Html.DisplayFor(model => model.Publication)</dd>
    <dt>Description</dt>
    <dd>@Html.DisplayFor(model => model.Description)</dd>
    
    <form asp-action="AddToCart" asp-route-id=@Model.Id>
        
        <input type="submit" value="Add To Cart" class="btn btn-primary" />
    </form>
</dl>