@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Student</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="Index">Teacher</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Index">Course</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Book</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Cart">Cart</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="GotoReturnPage">ReturnBook</a>
<a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Users</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Permission" asp-action="Index">Permissions</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
