@{
    ViewData["title"] = "LogIn";
}

<div>
    <a asp-action="StudentLogIn" asp-controller="xStudent" class="btn btn-primary">Student LogIn</a>
</div>
<br />
<div>
    <a asp-action="" asp-controller="xDepartment" class="btn btn-primary">Department LogIn</a>
</div>
