@model University.DAL.Models.Department;

@{
    ViewData["title"] = "Add Department";
}


<form asp-action="Create">
    <div>
        <label asp-for="DepartmentCode">Department Code</label>
        <input asp-for="DepartmentCode" />
    </div>
    <div>
        <label asp-for="DepartmentName">Name</label>
        <input asp-for="DepartmentName" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>